@import "../../../../styles/theme";

.application {
  border: 1px solid $gray;
  border-radius: 1em;
  margin: 20px;

  .mat-card {
    padding: 1em;

    .details {
      margin-top: 0.5em;
    }

    .download {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5em;

      a {
        margin-right: 0.5em;
      }
    }
  }
}
