<mat-toolbar color="primary" class="mat-elevation-z24">
  <span>
    <button *ngIf="search" mat-stroked-button (click)="goToApplicationList()">
      Application List
    </button>
    <button *ngIf="search" mat-stroked-button (click)="goToKibana()" style="margin-left: 2em;">
      Go to Kibana
    </button>
  </span>
  <span>
    <button *ngIf="!login" mat-icon-button [matMenuTriggerFor]="more">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #more="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>

<div class="block"></div>