<div class="root" [ngStyle]="style">
  <mat-card class="mat-elevation-z24">
    <mat-card-content>
      <h1>{{ title }}</h1>
      <form [formGroup]="form" (submit)="$event.stopPropagation()">
        <div [class.disabled]="pending">
          <mat-form-field *ngFor="let control of controls">
            <mat-label>{{ capitalize(control) }}</mat-label>
            <input *ngIf="type(control) === 'text' || type(control) === 'password'" matInput [type]="type(control)"
              [formControlName]="control" placeholder="Enter {{ control }}" />
            <input *ngIf="type(control) === 'location'" #locationInput matInput autocomplete="off"
              [formControlName]="control" placeholder="Country, city, street..." />
            <mat-select *ngIf="type(control) === 'select'" [formControlName]="control"
              placeholder="Select {{ control }}">
              <mat-option *ngFor="let option of options(control)" [value]="option">{{ option }}</mat-option>
            </mat-select>
            <mat-error> {{ capitalize(control) }} is required! </mat-error>
          </mat-form-field>
          <ng-container *ngFor="let control of fileControls">
            <div class="file-input">
              <input #fileInput type="file" accept="application/pdf" (change)="
                  updateFile(control, fileInput.files[0]);
                  fileInput.value = null
                " />
              <button mat-stroked-button color="accent" (click)="fileInput.click()">
                Upload
              </button>
              <span class="file-status" [class.warning]="!form.value[control] && form.touched">
                {{
                form.value[control]
                ? capitalize(control) + " provided"
                : "No " + capitalize(control) + " provided"
                }}
              </span>
            </div>
          </ng-container>
        </div>
        <div class="center">
          <button *ngIf="!pending" mat-raised-button color="primary" (click)="handleSubmit()">
            Submit
          </button>
          <app-spinner *ngIf="pending"></app-spinner>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>