<div class="root">
  <div *ngFor="let advertisement of advertisements" class="advertisement mat-elevation-z24">
    <mat-card>
      <mat-card-content>
        <div class="title">
          <span>{{ advertisement.title }}</span>
          <span>{{ advertisement.published | date: "dd MMM yyyy" }}</span>
        </div>
        <div class="description">
          {{ advertisement.description }}
          <div class="details">
            <span></span>
            <button mat-button color="accent" (click)="uploadApplication(advertisement)">
              Upload CV
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>