<div class="boolean-operator">
  <mat-button-toggle-group *ngIf="!first" [(ngModel)]="query.operator">
    <mat-button-toggle value="AND">AND</mat-button-toggle>
    <mat-button-toggle value="OR">&nbsp;OR&nbsp;&nbsp;</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="root">
  <div class="form">
    <mat-form-field>
      <mat-label>Field</mat-label>
      <mat-select [(ngModel)]="query.field" placeholder="Select field">
        <mat-option value="firstName">First name</mat-option>
        <mat-option value="lastName">Last name</mat-option>
        <mat-option value="education">Education</mat-option>
        <mat-option value="educationLevel">Education level</mat-option>
        <mat-option value="cvText">CV text</mat-option>
        <mat-option value="letterText">Letter text</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="!educationLevel">
      <mat-label>Value</mat-label>
      <input [(ngModel)]="query.value" matInput placeholder="Enter value" />
    </mat-form-field>
    <mat-form-field *ngIf="educationLevel">
      <mat-label>Start value</mat-label>
      <mat-select [(ngModel)]="query.startValue" placeholder="Select start value">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="5">5</mat-option>
        <mat-option [value]="6">6</mat-option>
        <mat-option [value]="7">7</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="educationLevel">
      <mat-label>End value</mat-label>
      <mat-select [(ngModel)]="query.endValue" placeholder="Select end value">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="5">5</mat-option>
        <mat-option [value]="6">6</mat-option>
        <mat-option [value]="7">7</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <span class="actions-row">
    <div>NOT</div>
    <mat-slide-toggle [(ngModel)]="query.not"></mat-slide-toggle>
    <button *ngIf="!first" mat-icon-button color="warn" (click)="removeQuery.emit()">
      <mat-icon>delete</mat-icon>
    </button>
  </span>
</div>